{% extends 'layouts/master.html.twig' %}

{% block titulo %}
    Animales
{% endblock %}

{% block cabecera %}
    {{ parent() }}
    <h1>Animales</h1>
{% endblock %}

{% block contenido %}
    {#    
        <h1>{{ title }}</h1>
        <h2>{{ nombre }}</h2>
        <h2>{{ apellidos }}</h2>
    #}
    {% set perro = 'Pastor aleman' %}
    <h4>{{ perro }}</h4>
    
    {# Trabajar con array #}
    {{ dump(animales) }}
    {{ animales[1] }}
    
    {# Trabajar con array asociativo #}
    {{ dump(aves) }}
    {{ aves.loro ~ ' ' ~ aves.paloma }}
    
{% endblock %}