    {# Funciones Predefinidas #}
    <h1>Funciones</h1>
    <h2>{{ nombre }}</h2>
    {{ min ([2,4,6,1,8,12]) }}
    <br>
    {{ max ([2,4,6,1,8,12]) }}
    <br>
    {{ random(animales) }}
    <br>
    {% for i in range(0,100, 12) %}
        {{ i }}
        <br>
    {% endfor %}
